src/shodan_api_key.txt
src/daf_config.yml

dbs/hand_annotation_rules.csv
dbs/Keywords.csv
dbs/browsers_useragents.csv
dbs/others_useragents.csv
dbs/full-match.csv
dbs/sequences.csv
dbs/subsequences.csv

.vscode/
.venv/

__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

build/
dist/
*.egg-info/
.eggs/

*.log
*.tmp
*.bak
*.swp
.DS_Store

.ipynb_checkpoints/

# Local NAT training.
src/detectors/nat_detector/data/*.csv
src/detectors/nat_detector/training/data/*.csv
